@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kolker+Brush&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Comfortaa&family=Kolker+Brush&family=Marck+Script&family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: sans-serif;
  background: black;
  color: white;
  min-height: 100vh;
}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;

}
/* ========== Menu ==========*/
header {
  font-family: "Comfortaa";
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.21);
}
#logo {
  width: 50px;
  transition: 0.3s;
}
#logo:hover {
  transform: scale(1.2);
}
nav {
  justify-content: space-around;
  width: 100%;
}
nav a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding: 1em 2em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  transition: 0.3s;
  letter-spacing: 2pxж
}
.first:hover{
  color: #03a9f4;
  border: 0.5px solid #03a9f4;
  box-shadow: 0 5px 7px #03a9f4;

}
.second:hover{
  box-shadow: 0 5px 7px #ff0058;
  border: 0.5px solid #ff0058;
  color: #ff0058;
}
 .third:hover{
   box-shadow: 0 5px 7px #4dff03;
   border: 0.5px solid #4dff03;
  color:#4dff03;
}
 .forth:hover{
   box-shadow: 0 5px 7px #ffbc00;
   border: 0.5px solid #ffbc00;
  color:#ffbc00;
}

/* ========== Hero Section ==========*/
section {
  width: 100%;
  height: 170vh;
}
/* ========== Footer ==========*/
footer {
  color: white;
  background: black;
  padding: 5px;
}


/*-------------выше не трогать-----------------*/
section{
  box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.9);
}
section{
  font-family: "Poppins", sans-serif;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}
.container .card{
  position: relative;
  width: 450px;
  padding: 20px;
  margin: 20px;
  background: #000;
  border: 1px solid #fff;
}
.container .card::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #4dff03;
  border-right: 20px solid #4dff03;
}
.container .card.active::before{
  border-top: 20px solid #ff0058;
  border-right: 20px solid #ff0058;
}
.container .card .icon{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img{
  max-height: 70px;
  max-width: 70px;
}
.container .card .content{
  position: relative;
  height: 90px;
  overflow: hidden;
  text-align: center;
}
.container .card .content::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent,black);
}
.container .card .content h3{
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  margin: 20px;
}
.container .card .content h4{
   margin: 35px;
   font-size: 30px;
}
.container .card .content p{
  font-weight: 300;
  color: #ccc;
  line-height: 1.5;
}
.container .card .more{
  position: relative;
  padding: 10px 15px;
  background: #4dff03;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #383838;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  text-decoration: none;
}
.container .card .more::before{
  content: 'Узнать цену';
}
.container .card.active .more::before{
  content: 'Скрыть цену';
}
.container .card.active .more{
  background: #ff0058;
  color: #fff;
}
.container .card.active .content{
  height: auto;
}
.container .card.active .content::before{
  display: none;
}

footer .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
footer .container .sec h2{
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container .sec h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #ffeb3b;
}
footer .container .sec p{
  padding: 10px;
  color: white;
}
.sci{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,50px);
  grid-gap: 10px;
}
.sci li{
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: linear-gradient(45deg,#03a9f4,#ff0058 );
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: linear-gradient(45deg,#4dff03,#ffbc00 );
}

.sci li a .icon{
  color: #fff;
  font-size: 20px;
}
.quicklinks{
  position: relative;
}
.quicklinks li{
  list-style: none;
}
.quicklinks li a{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks li a:hover{
  color: #ffeb3b;
}
.info{
  position: relative;
}
.info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
}
.info li span{
  color: #fff;

}
.info a{
  color: white;
  text-decoration: none;
}
.info a:hover{
  color: #ffeb3b;
}
.copyrighttext{
  width: 100%;

  text-align: center;
  padding: 8px 40px;
  color: #fff;
}
@media (max-width: 991px) {

  footer {
    padding: 40px;
  }
  footer .container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 768px){
  footer .container{
    grid-template-columns: repeat(1,1fr);
  }
  .copyrighttext{
    padding: 8px 40px;
  }
}
@media (max-width: 992px) {
  .card-container{
    grid-template-columns: 100%;
  }


}
@media (max-width: 980px) {

  section {
    width: 100%;
    height: 300vh;
  }
}
@media (max-width: 650px) {
  nav a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
    letter-spacing: 1pxж
  }
  section {
    width: 100%;
    height: 300vh;
  }
}
